.DS_Store
\#*
.\#*
*~
*.cmi
*.cmo
*.cmx
*.o
*.exe
*.native
*.tex
*.log
*.aux
*.dvi
*.pdf
*.out
*.html
obsolete/*.txt
bin/
old/
test/
lexer.ml
parser.ml
parser.mli
parser.output
lexer_hand.ml
*.png
_build/
temp/
satysfi
*.ttf
*.otf
*.ttc
*.dfont
*.afm
*.t1a
*.svg
*.dat
*.ttx
*.jpg
*.satysfi-aux
