\#*
*~
*.cmi
*.cmo
*.cmx
*.o
*.exe
*.native
*.html
*.tex
*.log
*.aux
*.dvi
*.pdf
*.out
*.html
bin/
old/
test/
*.txt
library/
lexer.ml
parser.ml
parser.mli
parser.output
lexer_hand.ml
*.png
_build
macrodown
*.ttf
*.svg
