[submodule "external/camlpdf"]
	path = external/camlpdf
	url = https://github.com/gfngfn/camlpdf
[submodule "backend/external/otfm"]
	path = external/otfm
	url = https://github.com/gfngfn/otfm.git
[submodule "external/ucorelib"]
	path = external/ucorelib
	url = https://github.com/gfngfn/ucorelib
