language: c
os:
  - linux
  - osx
env:
  - OCAML_VERSION=4.06
sudo: required
install:
  - if [[ "$TRAVIS_OS_NAME" == linux ]]; then bash -xv .travis/install-dist.sh; fi
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-ocaml.sh
  - bash -ex .travis-ocaml.sh
  - eval `opam config env`
  - opam repository add satysfi-external https://github.com/gfngfn/satysfi-external-repo.git
  - opam update
  - opam pin add -y --no-action satysfi .
  - opam install -y --deps-only satysfi
script:
  - make all
  - if [[ "$TRAVIS_OS_NAME" == linux ]]; then make -C doc SATYSFI=../satysfi; fi
