body {
  font-family: メイリオ;
  background-color: #888888;
}
.main {
	/* max-width: 700px; */
  background-color: #f8f8f8;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 2pt;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.maketitle {
  width: 80%;
  text-align: center;
  border-width: 8px;
  border-color: #444444;
  border-style: double;
  margin-left: auto;
  margin-right: auto;
}
.title {
  width: 96%;
  text-align: center;
  font-size: 40px;
  border-width: 2px;
  border-color: #444444;
  border-bottom-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.author {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  text-indent: 1em;
}
h1 {
  text-indent: 10pt;
  background-color: #cccccc;
  border-width: 6pt;
  border-top-style: double;
  border-bottom-style: double;
  border-color: #444444;
  margin-top: 30pt;
}
h2 {
  border-width: 2pt;
  border-bottom-style: solid;
  border-color: #444444;
}
dfn {
  font-style: normal;
  font-weight: bold;
}
.file-name {
  font-family: "Latin Modern Typewriter 10",
               "CMU Typewriter Text",
               "Consolas",
               "Lucida Console",
	       "Courier new",
	       "Courier",
	       monospace;
  font-size: 1.1em;
}
.type-synt {
  font-family: "Latin Modern Typewriter 10",
               "CMU Typewriter Text",
               "Consolas",
               "Lucida Console",
	       "Courier new",
	       "Courier",
	       monospace;
  font-size: 1.1em;
  color: #aa2200;
}
.type-meta {
  font-family: "Latin Modern Typewriter 10",
               "CMU Typewriter Text",
               "Consolas",
               "Lucida Console",
	       "Courier new",
	       "Courier",
	       monospace;
  font-style: italic;
  font-size: 1.1em;
  color: #aa8800;
}
code {
  font-family: "Latin Modern Typewriter 10",
               "CMU Typewriter Text",
               "Consolas",
               "Lucida Console",
	       "Courier new",
	       "Courier",
	       monospace;
  font-size: 1.1em;
}
.synt {
  color: #2222aa;
}
.meta {
  color: #aa22aa;
  font-style: italic;
}
.centered {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.math {
  font-style: italic;
}
.toksty {
  font-style: normal;
  color: red;
}
.code-display {
  width: 90%;
  color: #2222aa;
  font-style: normal;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div .code-table {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
table {
  display: inline-block;
  width: 100%;
  border: 2px solid #8888ff;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  /* margin: auto auto 1em auto; */
}
td .mcrd-input {
  width: 100%
  text-align: left;
  /* border: 2px solid #8888ff; */
}
/*
table > caption {
  text-align: left;
  margin-top: 1em;
}
*/
